@model KurumsalWeb.Models.Model.HizmetAlan
@{
    ViewBag.Title = "HizmetAlanDetay";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-sm-16">
                <ul class="breadcrumb">
                    <li><a href="/Anasayfa"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                    <li class="active">Hizmet Alanı Detay</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <img src="@Model.ResimURL" alt="@Model.Baslik" class="img-responsive" width="400" height="400"/>
                <br /><br />
                <p> @Html.Raw(Model.Aciklama)</p>
            </div>
            @{ 
                Html.RenderAction("HizmetAlanBaslik", "Home");
            }
        </div>
    </div>
</section>

