
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

@{
    Html.RenderAction("SliderPartial", "Home");
}
<section class="callaction">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="big-cta">
                    <div class="cta-text">
                        <h2><span>WB SOFTWARE - </span> PROFESYONEL HİZMET EKİBİYLE YAPTIKLARI HİZMETLER</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@{ 
    Html.RenderAction("HizmetAlanPartial", "Home");
}
<section id="content">
    <div class="container">
        <!-- Portfolio Projects -->
        <div class="row">
            <div class="col-lg-12">
                <h4 class="heading" style="font-size:20px">Yapılan Projeler</h4>

                @{
                    Html.RenderAction("HizmetPartial", "Home");
                }

            </div>
        </div>

    </div>
</section>
